<configuration>
  <system.webServer>
      <defaultDocument>
            <files>
              <add value="server.js" />
            </files>
          </defaultDocument>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
	
	<iisnode loggingEnabled="true" debuggingEnabled="false" devErrorsEnabled="false" flushResponse="false" />
	
	<rewrite>
        <rules>
            <rule name="redirect all requests" stopProcessing="true">
                <match url="^(.*)$" ignoreCase="false" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
                </conditions>
                <action type="Rewrite" url="/api/server.js" appendQueryString="true" />
            </rule>
        </rules>
    </rewrite>
    <httpErrors errorMode="DetailedLocalOnly" />

  </system.webServer>
   <system.web>
    <httpRuntime maxRequestLength="1048576" requestLengthDiskThreshold="10024000" executionTimeout="3600" appRequestQueueLimit="100" requestValidationMode="2.0" />
        <pages enableSessionState="false" validateRequest="false" />
  </system.web>
    
</configuration>




